.accordion
  - jobs.each do |job|
    .accordion-group
      .accordion-heading
        .row-fluid
          .span8
            %a.accordion-toggle.collapsed{'data-toggle' => 'collapse', 'href' => "#job-#{job.id}"}= "Job #{job.id}"
          .span2.text-right.accordion-toggle
            = link_to 'Enqueue', enqueue_job_path(job), class: 'btn btn-block'
          .span2.text-right.accordion-toggle
            = label_for_status(job.status)
      %div.accordion-body.collapse{'id' => "job-#{job.id}"}
        .accordion-inner
          - if job.error.is_a? Exception
            = render partial: 'error_alert', locals: {error: job.error}
          .row-fluid
            .span6
              = job.command
            .span3
              .btn.btn-mini
                %i.icon-share
